@page "{quantity=1}/{pageNumber=1}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var pageNumber = Model.PagePagination.PageNumber;
    var startPage = Model.PagePagination.StartPage;
    var endPage = Model.PagePagination.EndPage;
    var size = Model.PagePagination.PageSize;
    var totalPage = Model.PagePagination.TotalPage;


}


<!DOCTYPE html>
<html>
<head>
    <title>Магазин товаров</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/flexslider.css" />
    <script src="js/script.js"></script>
</head>
@if (TempData["Message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Message"]
    </div>

}

<h1>@Model.Exchange</h1>
<div class="cards">

    @foreach (var goods in Model.PagePagination.Goods)
    {

        <partial name="_CardGoodsPartial" model="goods" />
    }
</div>

<form method="post" class="cards1">
    <div class="buttom-pagin">
        <!-- Кнопка "Назад" -->
        @if (Model.PagePagination.PreviosPage)
        {
            <button type="submit" asp-route-pageNumber="@(pageNumber - 1)" class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-left"></i>
                &lt;
            </button>
        }
        <button type="submit" asp-route-quantity="@size" asp-route-pageNumber="1" class="btn btn-outline-dark @(1 == pageNumber ? "active" : "")">
            1
        </button>


        <!-- Кнопки для каждой страницы -->
        @for (int i = startPage + 1; i <= endPage - 1; i++)
        {
            <button type="submit" asp-route-quantity="@size" asp-route-pageNumber="@i" class="btn btn-outline-dark @(i == pageNumber ? "active" : "")">
                @i
            </button>
        }
        <button type="submit" asp-route-quantity="@size" asp-route-pageNumber="@totalPage" class="btn btn-outline-dark @(totalPage == pageNumber ? "active" : "")">
            @totalPage
        </button>

        <!-- Кнопка "Вперед" -->
        @if (Model.PagePagination.NextPage)
        {
            <button type="submit" asp-route-pageNumber="@(pageNumber + 1)" class="btn btn-outline-dark">
                &gt;
                <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
        }
        
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Кол
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item" asp-route-PageNumber="@pageNumber" asp-route-quantity="1">1</a></li>
                <li><a class="dropdown-item" asp-route-PageNumber="@pageNumber" asp-route-quantity="2">2</a></li>
            </ul>
        </div>
    </div>
</form>
</html>
