@model Goods
@using Microsoft.AspNetCore.Mvc.TagHelpers 
@addTagHelper *, RazorStore.Services
@{
    
    var imagePath = $"/images/{Model.PicturePath ?? "nonPictures"}";
    
}


<div class="card">
    <div class="card__top">
        <a asp-page="Detail/GoodsPage" asp-route-id="@Model.Id" class="card__image">
            <img
                 src="@imagePath" asp-append-version="true"
                 alt="@Model.Name"
             />
        </a>
    </div>
    <div class="card__botom" >
        <div>@Model.Name </div>
        <div>@Model.Price</div>
        <div>@Model.Subscribe</div>
        <div>@Model.Location</div>
    </div>
    <div ></div>
</div>